<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
  </head>
  <body>
    <div class="oauth">
      <div class="login">
	<a class="fb-connect button" href="/oauth_fb">Facebook</a>
      </div>
      <div class="login">
	<a class="tw-connect button" href="/oauth_tw">Twitter</a>
      </div>
      <div class="login">
	<a class="gp-connect button" href="/oauth_gp">Google</a>
      </div>
    </div>
    <div class="non_oauth">
      <div class="login">
	<form action="email_sign_in">
	  <input type="text" placeholder="username"/>
	</form>
      </div>
    </div>
  </body>
</html>
